
-- 3-MILE BUFFER 

-- ############################
-- EVENT DAY -- 
-- ###########################


SELECT  *
  FROM [temp].[dbo].[Duration_EventDay_0910_12to12_wideFormat]
  WHERE GRID_ID IN (
	'1EY-63', '1EY-64', 
	'1EZ-62', '1EZ-63', '1EZ-64', '1EZ-65', '1EZ-66', 
	'1FA-61', '1FA-62', '1FA-63', '1FA-64', '1FA-65', '1FA-66',
	'1FB-61', '1FB-62', '1FB-63', '1FB-64', '1FB-65', '1FB-66', '1FB-67', 
	'1FC-61', '1FC-62', '1FC-63', '1FC-64', '1FC-65', '1FC-66', 
	'1FD-61', '1FD-62', '1FD-63', '1FD-64', '1FD-65', '1FD-66', '1FD-67', 
	'1FE-61', '1FE-62', '1FE-63', '1FE-64', '1FE-65', '1FE-66', 
	'1FF-63', '1FF-64', '1FF-65')
	AND alert_type = 'JAM'
	ORDER BY GRID_ID



SELECT *
  FROM [temp].[dbo].[Duration_EventDay_0910_12to12_wideFormat]
  WHERE GRID_ID in (
	'1EZ-65', '1EZ-66', 
	'1FA62', '1FA-63', '1FA-64', '1FA-65', '1FA-66',
	'1FB-63', '1FB-66', '1FB-67', 
	'1FC-66', 
	'1FD-61', '1FD-62', '1FD-63',
	'1FE-61', '1FE-62', '1FE-63', '1FE-65', 
	'1FF-63', '1FF-65')


INSERT INTO [temp].[dbo].[Duration_EventDay_0910_12to12_wideFormat]
VALUES (
	--'1EZ-65', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1EZ-66', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-62', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-63', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-64', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-65', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-66', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-63', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-66', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-67', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FC-66', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FD-61', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FD-62', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FD-63', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-61', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-62', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-63', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-65', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FF-63', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FF-65', 'JAM', '2018-09-10 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)



-- ############################
-- NO EVENT DAY -- 
-- ###########################

SELECT  *
  FROM [temp].[dbo].[Duration_NoEventDay_0917_12to12_wideFromat]
  WHERE GRID_ID IN (
	'1EY-63', '1EY-64', 
	'1EZ-62', '1EZ-63', '1EZ-64', '1EZ-65', '1EZ-66', 
	'1FA-61', '1FA-62', '1FA-63', '1FA-64', '1FA-65', '1FA-66',
	'1FB-61', '1FB-62', '1FB-63', '1FB-64', '1FB-65', '1FB-66', '1FB-67', 
	'1FC-61', '1FC-62', '1FC-63', '1FC-64', '1FC-65', '1FC-66', 
	'1FD-61', '1FD-62', '1FD-63', '1FD-64', '1FD-65', '1FD-66', '1FD-67', 
	'1FE-61', '1FE-62', '1FE-63', '1FE-64', '1FE-65', '1FE-66', 
	'1FF-63', '1FF-64', '1FF-65')
	AND alert_type = 'JAM'
	ORDER BY GRID_ID



SELECT *
  FROM [temp].[dbo].[Duration_NoEventDay_0917_12to12_wideFromat]
  WHERE GRID_ID in (
	'1EZ-63', '1EZ-64', '1EZ-65', '1EZ-66', 
	'1FA-61', '1FA-62', '1FA-63', '1FA-64', '1FA-65', '1FA-66',
	'1FB-62', '1FB-63', '1FB-64', '1FB-65', '1FB-66', '1FB-67',  
	'1FD-62', 
	'1FE-61', '1FE-62', '1FE-63', '1FE-65', 
	'1FF-65')
	AND alert_type = 'JAM'



INSERT INTO [temp].[dbo].[Duration_NoEventDay_0917_12to12_wideFromat]
VALUES (
	--'1EZ-63', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1EZ-64', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1EZ-65', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1EZ-66', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-61', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-62', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-63', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-64', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-65', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FA-66', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-62', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-63', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-64', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-65', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-66', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FB-67', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FD-62', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-61', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-62', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-63', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FE-65', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	--'1FF-65', 'JAM', '2018-09-17 00:00:00.000',	0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
	